In [1]:
%matplotlib inline 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
ENSU_CB_1217 = '../../Datasets/ENSU/data/ensu_bd_dic_2017_dbf/ENSU_CB_1217.csv'

df_ENSU_CB_1217 = pd.read_csv(ENSU_CB_1217, low_memory=False, index_col=0)

df_ENSU_CB_1217.head()

,Unnamed: 0.1,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,0,0100105,02,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,2390.0,U,3,00010,0580
1,1,0100105,03,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1593.0,U,3,00010,0580
2,2,0100105,04,01,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,797.0,U,3,00010,0580
3,3,0100105,05,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,4,1593.0,U,3,00010,0580
4,4,0100177,01,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1698.0,U,3,00020,0580

In [7]:
ENSU_CB_0617 = '../../Datasets/ENSU/data/ensu_bd_junio_2017_dbf/ENSU_CB_0617.csv'

df_ENSU_CB_0617 = pd.read_csv(ENSU_CB_0617, low_memory=False, index_col=0)

df_ENSU_CB_0617.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,2.0,1553.0,U,3,10,580
1,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580
2,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580
3,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,3.0,776.0,U,3,10,580
4,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580

In [28]:
ENSU_CB_0317 = '../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_CB_0317.csv'

df_ENSU_CB_0317 = pd.read_csv(ENSU_CB_0317, low_memory=False, index_col=0)

df_ENSU_CB_0317.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
1,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,3.0,1503.0,U,3,10,580
2,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
3,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,1.0,752.0,U,3,10,580
4,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,4.0,1503.0,U,3,10,580

## PERCEPCIÓN SOBRE SEGURIDAD PÚBLICA

In [435]:
df_copy_ENSU_CB_0317 = df_ENSU_CB_0317.copy()
df_copy_ENSU_CB_0617 = df_ENSU_CB_0617.copy()
df_copy_ENSU_CB_1217 = df_ENSU_CB_1217.copy()

In [436]:
print(df_copy_ENSU_CB_0317.shape)
print(df_copy_ENSU_CB_0617.shape)
print(df_copy_ENSU_CB_1217.shape)
print(df_copy_ENSU_CB_0317.shape[0] + df_copy_ENSU_CB_0617.shape[0] + df_copy_ENSU_CB_1217.shape[0])

(14497, 136)
(15272, 137)
(75665, 138)
105434

In [520]:
exp_1_ENSU_CB_0317 = pd.DataFrame(df_copy_ENSU_CB_0317[['CVE_ENT', 'BP1_1']])
exp_1_ENSU_CB_0617 = pd.DataFrame(df_copy_ENSU_CB_0617[['CVE_ENT', 'BP1_1']])
exp_1_ENSU_CB_1217 = pd.DataFrame(df_copy_ENSU_CB_1217[['CVE_ENT', 'BP1_1']])

df_exp_1_ENSU_CB_2017 = [exp_1_ENSU_CB_0317, exp_1_ENSU_CB_0617, exp_1_ENSU_CB_1217]

df_exp_1_ENSU_CB_2017 = pd.concat(df_exp_1_ENSU_CB_2017)

df_exp_1_ENSU_CB_2017 = df_exp_1_ENSU_CB_2017.reset_index()

df_exp_1_ENSU_CB_2017.head()

   index CVE_ENT BP1_1
0      0       1     1
1      1       1     2
2      2       1     1
3      3       1     2
4      4       1     1

### BP1_1: En términos de la delincuencia, ¿considera que vivir actualmente en (CIUDAD), es...
+ 1   seguro? 
+ 2   inseguro?
+ 9 No sabe / no responde

In [521]:
df_exp_1_ENSU_CB_2017.BP1_1.groupby(df_exp_1_ENSU_CB_2017.BP1_1).count()

BP1_1
1            8467
2           21233
9              69
1           26375
2           49203
9              82
BP1_1           4
BP1_2_01        1
Name: BP1_1, dtype: int64

In [522]:
df_exp_1_ENSU_CB_2017 = df_exp_1_ENSU_CB_2017.drop(df_exp_1_ENSU_CB_2017[(df_exp_1_ENSU_CB_2017.BP1_1 == 'BP1_1') | (df_exp_1_ENSU_CB_2017.BP1_1 == 'BP1_2_01')].index)

In [523]:
df_exp_1_ENSU_CB_2017[df_exp_1_ENSU_CB_2017.BP1_1 == 'BP1_1']

Empty DataFrame
Columns: [index, CVE_ENT, BP1_1]
Index: []

In [524]:
df_exp_1_ENSU_CB_2017[df_exp_1_ENSU_CB_2017.BP1_1 == 'BP1_2_01']

Empty DataFrame
Columns: [index, CVE_ENT, BP1_1]
Index: []

In [525]:
df_exp_1_ENSU_CB_2017.BP1_1.groupby(df_exp_1_ENSU_CB_2017.BP1_1).count()

BP1_1
1     8467
2    21233
9       69
1    26375
2    49203
9       82
Name: BP1_1, dtype: int64

In [526]:
df_exp_1_ENSU_CB_2017.BP1_1.astype('category').cat.categories.tolist()

[1, 2, 9, '1', '2', '9']

In [527]:
#catalogo_BP1_1 = pd.DataFrame([1, 2, 9], index=["seguro", "inseguro", "ns/nc"])
#catalogo_BP1_1.rename(columns={0:"concepto"}, inplace=True)
#catalogo_BP1_1

catalogo_BP1_1 = {1:'seguro', 2: 'inseguro', 9:'ns/nc', '1': 'seguro', '2': 'inseguro', '9':'ns/nc'}
catalogo_BP1_1

{1: 'seguro',
 '1': 'seguro',
 2: 'inseguro',
 '2': 'inseguro',
 9: 'ns/nc',
 '9': 'ns/nc'}

In [528]:
df_exp_1_ENSU_CB_2017.BP1_1 = df_exp_1_ENSU_CB_2017.BP1_1.map(catalogo_BP1_1)
df_exp_1_ENSU_CB_2017.BP1_1.head()

0      seguro
1    inseguro
2      seguro
3    inseguro
4      seguro
Name: BP1_1, dtype: object

In [529]:
df_exp_1_ENSU_CB_2017.BP1_1.groupby(df_exp_1_ENSU_CB_2017.BP1_1).count()

BP1_1
inseguro    70436
ns/nc         151
seguro      34842
Name: BP1_1, dtype: int64

In [530]:
df_exp_1_ENSU_CB_2017.BP1_1.astype('category').count()

105429

### CVE_ENT

In [531]:
df_exp_1_ENSU_CB_2017.CVE_ENT.groupby(df_exp_1_ENSU_CB_2017.CVE_ENT).count()

CVE_ENT
1                                   538
2                                  1036
3                                   797
4                                  1066
5                                  1367
6                                  1073
7                                  1090
8                                  1067
9                                  2226
10                                  716
11                                  816
12                                 1275
13                                  522
14                                 1050
15                                 1648
16                                 1562
17                                  506
18                                  562
19                                  500
20                                  546
21                                  519
22                                  517
23                                  511
24                                  544
25                                 1557
26                                 1057
27                                  514
28                                 1415
29                                  541
30                                 1021
                                   ...
Baja California Sur                 534
Campeche                            520
Chiapas                             539
Chihuahua                           512
Ciudad de Mexico                   1033
Coahuila de Zaragoza                677
Colima                              521
Durango                             349
Guanajuato                          546
Guerrero                            759
Hidalgo                             260
Jalisco                             534
Mexico                              791
Michoacan de Ocampo                 773
Morelos                             243
Nayarit                             278
Nuevo Leon                          253
Oaxaca                              276
Puebla                              255
Queretaro                           256
Quintana Roo                        257
San Luis Potosi                     258
Sinaloa                             783
Sonora                              529
Tabasco                             253
Tamaulipas                          706
Tlaxcala                            273
Veracruz de Ignacio de la Llave     518
Yucatan                             261
Zacatecas                           542
Name: CVE_ENT, Length: 96, dtype: int64

In [532]:
df_exp_1_ENSU_CB_2017.CVE_ENT.astype('category')

0                 1
1                 1
2                 1
3                 1
4                 1
5                 1
6                 1
7                 1
8                 1
9                 1
10                1
11                1
12                1
13                1
14                1
15                1
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                1
26                1
27                1
28                1
29                1
            ...
105404    Zacatecas
105405    Zacatecas
105406    Zacatecas
105407    Zacatecas
105408    Zacatecas
105409    Zacatecas
105410    Zacatecas
105411    Zacatecas
105412    Zacatecas
105413    Zacatecas
105414    Zacatecas
105415    Zacatecas
105416    Zacatecas
105417    Zacatecas
105418    Zacatecas
105419    Zacatecas
105420    Zacatecas
105421    Zacatecas
105422    Zacatecas
105423    Zacatecas
105424    Zacatecas
105425    Zacatecas
105426    Zacatecas
105427    Zacatecas
105428    Zacatecas
105429    Zacatecas
105430    Zacatecas
105431    Zacatecas
105432    Zacatecas
105433    Zacatecas
Name: CVE_ENT, Length: 105429, dtype: category
Categories (96, object): [1, 2, 3, 4, ..., Tlaxcala, Veracruz de Ignacio de la Llave, Yucatan, Zacatecas]

In [543]:
list_CVE_ENT = df_exp_1_ENSU_CB_2017.CVE_ENT.astype('category').cat.categories.tolist()
list_CVE_ENT

['Aguascalientes',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Ciudad de Mexico',
 'Coahuila de Zaragoza',
 'Colima',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Mexico',
 'Michoacan de Ocampo',
 'Morelos',
 'Nayarit',
 'Nuevo Leon',
 'Oaxaca',
 'Puebla',
 'Queretaro',
 'Quintana Roo',
 'San Luis Potosi',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz de Ignacio de la Llave',
 'Yucatan',
 'Zacatecas']

In [538]:
secc_01_list_CVE_ENT = list_CVE_ENT[:32]
secc_02_list_CVE_ENT = list_CVE_ENT[32:64]
secc_03_list_CVE_ENT = list_CVE_ENT[64:]

df_list_CVE_ENT = pd.DataFrame({'secc_01':secc_01_list_CVE_ENT,
                                'secc_02':secc_02_list_CVE_ENT,
                                'secc_03':secc_03_list_CVE_ENT})

catalogo_CVE_ENT_01 = {df_list_CVE_ENT.loc[idx, 'secc_01']: df_list_CVE_ENT.loc[idx, 'secc_03'] for idx in range(df_list_CVE_ENT.shape[0])}
catalogo_CVE_ENT_02 = {df_list_CVE_ENT.loc[idx, 'secc_02']: df_list_CVE_ENT.loc[idx, 'secc_03'] for idx in range(df_list_CVE_ENT.shape[0])}
catalogo_CVE_ENT_03 = {df_list_CVE_ENT.loc[idx, 'secc_03']: df_list_CVE_ENT.loc[idx, 'secc_03'] for idx in range(df_list_CVE_ENT.shape[0])}

catalogo_CVE_ENT = {}
catalogo_CVE_ENT.update(catalogo_CVE_ENT_01)
catalogo_CVE_ENT.update(catalogo_CVE_ENT_02)
catalogo_CVE_ENT.update(catalogo_CVE_ENT_03)
catalogo_CVE_ENT

{'01': 'Aguascalientes',
 '02': 'Baja California',
 '03': 'Baja California Sur',
 '04': 'Campeche',
 '05': 'Chiapas',
 '06': 'Chihuahua',
 '07': 'Ciudad de Mexico',
 '08': 'Coahuila de Zaragoza',
 '09': 'Colima',
 1: 'Aguascalientes',
 10: 'Durango',
 '10': 'Durango',
 11: 'Guanajuato',
 '11': 'Guanajuato',
 12: 'Guerrero',
 '12': 'Guerrero',
 13: 'Hidalgo',
 '13': 'Hidalgo',
 14: 'Jalisco',
 '14': 'Jalisco',
 15: 'Mexico',
 '15': 'Mexico',
 16: 'Michoacan de Ocampo',
 '16': 'Michoacan de Ocampo',
 17: 'Morelos',
 '17': 'Morelos',
 18: 'Nayarit',
 '18': 'Nayarit',
 19: 'Nuevo Leon',
 '19': 'Nuevo Leon',
 2: 'Baja California',
 20: 'Oaxaca',
 '20': 'Oaxaca',
 21: 'Puebla',
 '21': 'Puebla',
 22: 'Queretaro',
 '22': 'Queretaro',
 23: 'Quintana Roo',
 '23': 'Quintana Roo',
 24: 'San Luis Potosi',
 '24': 'San Luis Potosi',
 25: 'Sinaloa',
 '25': 'Sinaloa',
 26: 'Sonora',
 '26': 'Sonora',
 27: 'Tabasco',
 '27': 'Tabasco',
 28: 'Tamaulipas',
 '28': 'Tamaulipas',
 29: 'Tlaxcala',
 '29': 'Tlaxcala',
 3: 'Baja California Sur',
 30: 'Veracruz de Ignacio de la Llave',
 '30': 'Veracruz de Ignacio de la Llave',
 31: 'Yucatan',
 '31': 'Yucatan',
 32: 'Zacatecas',
 '32': 'Zacatecas',
 4: 'Campeche',
 5: 'Chiapas',
 6: 'Chihuahua',
 7: 'Ciudad de Mexico',
 8: 'Coahuila de Zaragoza',
 9: 'Colima',
 'Aguascalientes': 'Aguascalientes',
 'Baja California': 'Baja California',
 'Baja California Sur': 'Baja California Sur',
 'Campeche': 'Campeche',
 'Chiapas': 'Chiapas',
 'Chihuahua': 'Chihuahua',
 'Ciudad de Mexico': 'Ciudad de Mexico',
 'Coahuila de Zaragoza': 'Coahuila de Zaragoza',
 'Colima': 'Colima',
 'Durango': 'Durango',
 'Guanajuato': 'Guanajuato',
 'Guerrero': 'Guerrero',
 'Hidalgo': 'Hidalgo',
 'Jalisco': 'Jalisco',
 'Mexico': 'Mexico',
 'Michoacan de Ocampo': 'Michoacan de Ocampo',
 'Morelos': 'Morelos',
 'Nayarit': 'Nayarit',
 'Nuevo Leon': 'Nuevo Leon',
 'Oaxaca': 'Oaxaca',
 'Puebla': 'Puebla',
 'Queretaro': 'Queretaro',
 'Quintana Roo': 'Quintana Roo',
 'San Luis Potosi': 'San Luis Potosi',
 'Sinaloa': 'Sinaloa',
 'Sonora': 'Sonora',
 'Tabasco': 'Tabasco',
 'Tamaulipas': 'Tamaulipas',
 'Tlaxcala': 'Tlaxcala',
 'Veracruz de Ignacio de la Llave': 'Veracruz de Ignacio de la Llave',
 'Yucatan': 'Yucatan',
 'Zacatecas': 'Zacatecas'}

In [541]:
df_exp_1_ENSU_CB_2017.CVE_ENT = df_exp_1_ENSU_CB_2017.CVE_ENT.map(catalogo_CVE_ENT)
df_exp_1_ENSU_CB_2017.CVE_ENT.head()

0    Aguascalientes
1    Aguascalientes
2    Aguascalientes
3    Aguascalientes
4    Aguascalientes
Name: CVE_ENT, dtype: object

In [540]:
list_CVE_ENT = df_exp_1_ENSU_CB_2017.CVE_ENT.astype('category').cat.categories.tolist()
list_CVE_ENT

['Aguascalientes',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Ciudad de Mexico',
 'Coahuila de Zaragoza',
 'Colima',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Mexico',
 'Michoacan de Ocampo',
 'Morelos',
 'Nayarit',
 'Nuevo Leon',
 'Oaxaca',
 'Puebla',
 'Queretaro',
 'Quintana Roo',
 'San Luis Potosi',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz de Ignacio de la Llave',
 'Yucatan',
 'Zacatecas']

In [546]:
df_exp_1_ENSU_CB_2017.CVE_ENT.groupby(df_exp_1_ENSU_CB_2017.CVE_ENT).count()

CVE_ENT
Aguascalientes                     2098
Baja California                    3691
Baja California Sur                3467
Campeche                           3666
Chiapas                            4614
Chihuahua                          3669
Ciudad de Mexico                   4279
Coahuila de Zaragoza               3792
Colima                             6879
Durango                            2461
Guanajuato                         3546
Guerrero                           5070
Hidalgo                            1822
Jalisco                            3720
Mexico                             5603
Michoacan de Ocampo                5427
Morelos                            1721
Nayarit                            1952
Nuevo Leon                         1765
Oaxaca                             1926
Puebla                             1794
Queretaro                          1797
Quintana Roo                       1796
San Luis Potosi                    1834
Sinaloa                            5472
Sonora                             3702
Tabasco                            1779
Tamaulipas                         4945
Tlaxcala                           1906
Veracruz de Ignacio de la Llave    3611
Yucatan                            1832
Zacatecas                          3793
Name: CVE_ENT, dtype: int64

In [545]:
df_exp_1_ENSU_CB_2017.CVE_ENT.astype('category').count()

105429

In [547]:
df_exp_1_ENSU_CB_2017.head()

   index         CVE_ENT     BP1_1
0      0  Aguascalientes    seguro
1      1  Aguascalientes  inseguro
2      2  Aguascalientes    seguro
3      3  Aguascalientes  inseguro
4      4  Aguascalientes    seguro