In [1]:
import pandas as pd
import numpy as np

## Carga

ensu_cs = CVE_ENT + UPM + VIV_SEL + N_REN

In [2]:
ensu_viv_117 = '../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_VIV_0317.csv'

df_ensu_viv_117 = pd.read_csv(ensu_viv_117, low_memory=False, index_col=0)

df_ensu_viv_117.head()

,UPM,PRO_VIV,VIV_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,AP1_2,AP2_1,AP2_2,AP2_3,AP2_4,FAC_VIV,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,31,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,3,1,NaN,NaN,752.0,U,3,10,580
1,100105,70,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,2,1,NaN,NaN,752.0,U,3,10,580
2,100105,104,3,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,4,1,NaN,NaN,752.0,U,3,10,580
3,100105,128,4,1,Aguascalientes,1,Aguascalientes,1,1,117,...,1,1,1,NaN,NaN,752.0,U,3,10,580
4,100105,167,5,1,Aguascalientes,1,Aguascalientes,1,1,117,...,1,6,1,NaN,NaN,752.0,U,3,10,580

In [3]:
ensu_cs_117 = '../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_CS_0317.csv'

df_ensu_cs_117 = pd.read_csv(ensu_cs_117, low_memory=False, index_col=0)

df_ensu_cs_117.head()

,UPM,VIV_SEL,R_INF,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,A_ESC,C_ACT,V_ACT,POS,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,2.0,752.0,0.0,U,3,10,580
1,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,3.0,752.0,1503.0,U,3,10,580
2,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,NaN,NaN,NaN,752.0,0.0,U,3,10,580
3,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,2.0,752.0,0.0,U,3,10,580
4,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,5.0,4.0,NaN,752.0,1503.0,U,3,10,580

In [4]:
ensu_cb_117 = '../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_CB_0317.csv'

df_ensu_cb_117 = pd.read_csv(ensu_cb_117, low_memory=False, index_col=0)

df_ensu_cb_117.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
1,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,3.0,1503.0,U,3,10,580
2,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
3,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,1.0,752.0,U,3,10,580
4,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,4.0,1503.0,U,3,10,580

### ConstrucciÃ³n de IDs

In [24]:
id_ensu_viv_117 = (df_ensu_viv_117['CVE_ENT'] +
                   df_ensu_viv_117['UPM'] +
                   df_ensu_viv_117['VIV_SEL'])

id_ensu_viv_117.count()

14497

In [25]:
id_ensu_cs_117 = (df_ensu_cs_117['CVE_ENT'] +
                  df_ensu_cs_117['UPM'] +
                  df_ensu_cs_117['VIV_SEL'] +
                  df_ensu_cs_117['N_REN'])

id_ensu_cs_117.count()

49675

In [27]:
id_ensu_cb_117 = (df_ensu_cb_117['CVE_ENT'] +
                   df_ensu_cb_117['UPM'] +
                   df_ensu_cb_117['VIV_SEL'] +
                   df_ensu_cb_117['R_SEL'])

id_ensu_cb_117.count()

14497

In [6]:
#copiamos para proteger la info
df_copy_ensu_viv_117 = df_ensu_viv_117.copy()
df_copy_ensu_cs_117 = df_ensu_cs_117.copy()
df_copy_ensu_cb_117 = df_ensu_cb_117.copy()

In [7]:
print(df_copy_ensu_viv_117.shape)
print(df_copy_ensu_cs_117.shape)
print(df_copy_ensu_cb_117.shape)

(14497, 26)
(49675, 40)
(14497, 136)

In [33]:
#se agrega la columna ID
df_copy_ensu_viv_117['ID'] = id_ensu_viv_117

#se coloca el ID previamente calculado
df_copy_ensu_viv_117.set_index(keys='ID', inplace=True)
df_copy_ensu_viv_117.head()

,UPM,PRO_VIV,VIV_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,AP1_2,AP2_1,AP2_2,AP2_3,AP2_4,FAC_VIV,DOMINIO,EST,UPM_DIS,EST_DIS
ID,,,,,,,,,,,,,,,,,,,,,
100107,100105,31,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,3,1,NaN,NaN,752.0,U,3,10,580
100108,100105,70,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,2,1,NaN,NaN,752.0,U,3,10,580
100109,100105,104,3,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2,4,1,NaN,NaN,752.0,U,3,10,580
100110,100105,128,4,1,Aguascalientes,1,Aguascalientes,1,1,117,...,1,1,1,NaN,NaN,752.0,U,3,10,580
100111,100105,167,5,1,Aguascalientes,1,Aguascalientes,1,1,117,...,1,6,1,NaN,NaN,752.0,U,3,10,580

In [34]:
#se agrega la columna ID
df_copy_ensu_cs_117['ID'] = id_ensu_cs_117

#se coloca el ID previamente calculado
df_copy_ensu_cs_117.set_index(keys='ID', inplace=True)
df_copy_ensu_cs_117.head()

,UPM,VIV_SEL,R_INF,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,A_ESC,C_ACT,V_ACT,POS,FAC_VIV,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
ID,,,,,,,,,,,,,,,,,,,,,
100108,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,2.0,752.0,0.0,U,3,10,580
100109,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,3.0,752.0,1503.0,U,3,10,580
100110,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,NaN,NaN,NaN,752.0,0.0,U,3,10,580
100109,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,1.0,NaN,2.0,752.0,0.0,U,3,10,580
100110,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,2.0,5.0,4.0,NaN,752.0,1503.0,U,3,10,580

In [35]:
#se agrega la columna ID
df_copy_ensu_cb_117['ID'] = id_ensu_cb_117

#se coloca el ID previamente calculado
df_copy_ensu_cb_117.set_index(keys='ID', inplace=True)
df_copy_ensu_cb_117.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
ID,,,,,,,,,,,,,,,,,,,,,
100109,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
100110,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,3.0,1503.0,U,3,10,580
100111,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
100111,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,1.0,752.0,U,3,10,580
100112,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,4.0,1503.0,U,3,10,580

In [36]:
#exportar csv

path = '../../Datasets/ENSU/dataframes/seguridad_urbana_117.csv'

df_copy_ensu_cb_117.to_csv(path_or_buf=path, index=True, encoding='utf-8')