In [1]:
%matplotlib inline 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
ENSU_CB_1217 = '../../Datasets/ENSU/data/ensu_bd_dic_2017_dbf/ENSU_CB_1217.csv'

df_ENSU_CB_1217 = pd.read_csv(ENSU_CB_1217, low_memory=False, index_col=0)

df_ENSU_CB_1217.head()

,Unnamed: 0.1,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,0,0100105,02,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,2390.0,U,3,00010,0580
1,1,0100105,03,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1593.0,U,3,00010,0580
2,2,0100105,04,01,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,797.0,U,3,00010,0580
3,3,0100105,05,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,4,1593.0,U,3,00010,0580
4,4,0100177,01,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1698.0,U,3,00020,0580

In [3]:
ENSU_CB_0617 = '../../Datasets/ENSU/data/ensu_bd_junio_2017_dbf/ENSU_CB_0617.csv'

df_ENSU_CB_0617 = pd.read_csv(ENSU_CB_0617, low_memory=False, index_col=0)

df_ENSU_CB_0617.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,2.0,1553.0,U,3,10,580
1,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580
2,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580
3,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,3.0,776.0,U,3,10,580
4,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,217,...,0,NaN,0,0,4.0,1553.0,U,3,10,580

In [4]:
ENSU_CB_0317 = '../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_CB_0317.csv'

df_ENSU_CB_0317 = pd.read_csv(ENSU_CB_0317, low_memory=False, index_col=0)

df_ENSU_CB_0317.head()

,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,PER,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,100105,1,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
1,100105,2,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,3.0,1503.0,U,3,10,580
2,100105,3,2,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,2.0,1503.0,U,3,10,580
3,100105,4,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,1.0,752.0,U,3,10,580
4,100105,5,1,1,Aguascalientes,1,Aguascalientes,1,1,117,...,0,NaN,0,0,4.0,1503.0,U,3,10,580

## Percepción

In [37]:
df_copy_ENSU_CB_0317 = df_ENSU_CB_0317.copy()
df_copy_ENSU_CB_0617 = df_ENSU_CB_0617.copy()
df_copy_ENSU_CB_1217 = df_ENSU_CB_1217.copy()

In [38]:
print(df_copy_ENSU_CB_0317.shape)
print(df_copy_ENSU_CB_0617.shape)
print(df_copy_ENSU_CB_1217.shape)
print(df_copy_ENSU_CB_0317.shape[0] + df_copy_ENSU_CB_0617.shape[0] + df_copy_ENSU_CB_1217.shape[0])

(14497, 136)
(15272, 137)
(75665, 138)
105434

Comienza

En términos de la delincuencia, ¿considera que vivir actualmente en (CIUDAD), es...
+ `BP1_1`: si, no, ns/nc

En términos de delincuencia, dígame si en (LUGAR) se **siente seguro(a) o inseguro(a)**
+ `BP1_2_01`: su casa
+ `BP1_2_02`: su trabajo
+ `BP1_2_03`: las calles que habitualmente usa
+ `BP1_2_04`: la escuela
+ `BP1_2_05`: el mercado
+ `BP1_2_06`: el centro comercial
+ `BP1_2_07`: el banco
+ `BP1_2_08`: el cajero automático localizado en la vía pública
+ `BP1_2_09`: el transporte público
+ `BP1_2_10`: el automóvil
+ `BP1_2_11`: la carretera
+ `BP1_2_12`: el parque/centro recreativo

En los últimos tres meses, ¿ha **escuchado o ha visto** en los alrededores de su vivienda situaciones como...

+ `BP1_4_1`: vandalismo (grafitis, pintas, vidrios quebrados o daños) en las viviendas o negocios?
+ `BP1_4_2`: consumo de alcohol en las calles?
+ `BP1_4_3`: robos o asaltos?
+ `BP1_4_4`: bandas violentas o pandillerismo?
+ `BP1_4_5`: venta o consumo de droga?
+ `BP1_4_6`: disparos frecuentes con armas?

En los últimos tres meses, ¿cuáles han sido las tres principales **formas de enterarse** sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?

+ `BP1_6_1`: Platicando con familiares, vecinos o conocidos en los alrededores de su vivienda
+ `BP1_6_2`: Platicando con compañeros de su trabajo o escuela
+ `BP1_6_3`: Por Facebook
+ `BP1_6_4`: Por Twitter
+ `BP1_6_5`: Por Whatsapp
+ `BP1_6_6`: Otra aplicación electrónica
+ `BP1_6_7`: Por mensajes SMS o alertas de noticias en su teléfono celular
+ `BP1_6_8`: Viendo noticieros en televisión
+ `BP1_6_9`: Escuchando noticieros en radio
+ `BP1_6_10`: Leyendo periódicos o revistas en papel
+ `BP1_6_11`: En Internet (páginas, periódicos, revistas, youtube)

In [65]:
columns_perception =  ['CVE_ENT', 'LOC',
                       'BP1_1', 
                       'BP1_2_01', 'BP1_2_02', 'BP1_2_03', 'BP1_2_04','BP1_2_05', 'BP1_2_06','BP1_2_07', 'BP1_2_08','BP1_2_09', 'BP1_2_10', 'BP1_2_11', 'BP1_2_12',
                       'BP1_4_1', 'BP1_4_2', 'BP1_4_3', 'BP1_4_4','BP1_4_5', 'BP1_4_6',
                       'BP1_6_1', 'BP1_6_2', 'BP1_6_3', 'BP1_6_3', 'BP1_6_4', 'BP1_6_5', 'BP1_6_6', 'BP1_6_7', 'BP1_6_8', 'BP1_6_9', 'BP1_6_10', 'BP1_6_11']


df_exp_01_ENSU_CB_0317 = pd.DataFrame(df_copy_ENSU_CB_0317[columns_perception])
df_exp_01_ENSU_CB_0617 = pd.DataFrame(df_copy_ENSU_CB_0617[columns_perception])
df_exp_01_ENSU_CB_1217 = pd.DataFrame(df_copy_ENSU_CB_1217[columns_perception])

#concat in one df
df_exp_01_ENSU_CB_2017 = pd.concat([df_exp_01_ENSU_CB_0317, df_exp_01_ENSU_CB_0617, df_exp_01_ENSU_CB_1217]).reset_index()

df_exp_01_ENSU_CB_2017.head()

,index,CVE_ENT,LOC,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,...,BP1_6_3,BP1_6_3,BP1_6_4,BP1_6_5,BP1_6_6,BP1_6_7,BP1_6_8,BP1_6_9,BP1_6_10,BP1_6_11
0,0,1,1,1,1,1,1,3,1,1,...,1,1,0,0,0,1,0,0,0,0
1,1,1,1,2,2,3,2,3,2,2,...,0,0,0,0,0,0,1,1,0,0
2,2,1,1,1,1,2,1,3,1,1,...,0,0,0,0,0,0,1,1,0,0
3,3,1,1,2,1,3,2,3,1,1,...,0,0,0,0,0,1,0,1,0,0
4,4,1,1,1,1,1,1,3,1,1,...,1,1,0,1,0,1,0,0,0,0

In [73]:
df = pd.DataFrame(\
    df_exp_01_ENSU_CB_2017.CVE_ENT.astype('category').groupby(df_exp_01_ENSU_CB_2017.CVE_ENT).count())
df

                                 CVE_ENT
CVE_ENT
1                                    538
2                                   1036
3                                    797
4                                   1066
5                                   1367
6                                   1073
7                                   1090
8                                   1067
9                                   2226
10                                   716
11                                   816
12                                  1275
13                                   522
14                                  1050
15                                  1648
16                                  1562
17                                   506
18                                   562
19                                   500
20                                   546
21                                   519
22                                   517
23                                   511
24                                   544
25                                  1557
26                                  1057
27                                   514
28                                  1415
29                                   541
30                                  1021
...                                  ...
Campeche                             520
Chiapas                              539
Chihuahua                            512
Ciudad de Mexico                    1033
Coahuila de Zaragoza                 677
Colima                               521
Durango                              349
Guanajuato                           546
Guerrero                             759
Hidalgo                              260
Jalisco                              534
Mexico                               791
Michoacan de Ocampo                  773
Morelos                              243
NOM_ENT                                1
Nayarit                              278
Nuevo Leon                           253
Oaxaca                               276
Puebla                               255
Queretaro                            256
Quintana Roo                         257
San Luis Potosi                      258
Sinaloa                              783
Sonora                               529
Tabasco                              253
Tamaulipas                           706
Tlaxcala                             273
Veracruz de Ignacio de la Llave      518
Yucatan                              261
Zacatecas                            542

[98 rows x 1 columns]