In [1]:
import pandas as pd
import numpy as np

In [3]:
#Conjunto de datos de la Tabla Vivienda de 2014
vivienda_2014 = '../../Datasets/ENH/enh_2014/viviendas_enh_2014_csv.csv'

df_vivienda_2014 = pd.read_csv(vivienda_2014, low_memory=False, index_col=0, encoding='latin1')

df_vivienda_2014.reset_index(inplace=True)

df_vivienda_2014.head()

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,cocina,cocina_dor,cuart_dorm,num_cuarto,...,escrituras,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor_viv
0,10001801,1,8,9,3,30,1,2.0,3,6,...,1.0,4,1,10010001,029-0,1,3,9,710,243
1,10001803,1,8,9,3,26,1,2.0,3,10,...,1.0,4,1,10010001,029-0,1,3,9,710,243
2,10001804,1,8,9,3,23,1,2.0,2,5,...,3.0,2,1,10010001,029-0,1,3,9,710,243
3,10001805,1,8,9,3,10,1,2.0,4,7,...,1.0,6,1,10010001,029-0,1,3,9,710,243
4,10002201,1,8,9,3,1.79769313486232e+308,1,2.0,1,4,...,2.0,4,1,10010001,030-3,1,3,2,1450,262

In [4]:
#Conjunto de datos de la Tabla Hogar de 2014
hogar_2014 = '../../Datasets/ENH/enh_2014/hogares_enh_2014_csv.csv'

df_hogar_2014 = pd.read_csv(hogar_2014, low_memory=False, index_col=0, encoding='latin1')

df_hogar_2014.reset_index(inplace=True)

df_hogar_2014.head()

,folioviv,foliohog,huespedes,huesp_come,num_trab_d,edad_trab1,edad_trab2,edad_trab3,edad_trab4,edad_trab5,...,conex_int6,conex_int7,pago_inter,inte_12mes,no_internt,lugar_inte,tot_integ,tot_hom,tot_muj,factor_hog
0,10001801,1,0,1.79769313486232e+308,0,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,2.0,2.0,1.0,NaN,NaN,NaN,4,3,1,243
1,10001803,1,0,1.79769313486232e+308,0,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,2.0,2.0,1.0,NaN,NaN,NaN,4,3,1,243
2,10001804,1,0,1.79769313486232e+308,0,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,2.0,2.0,1.0,NaN,NaN,NaN,2,1,1,243
3,10001805,1,0,1.79769313486232e+308,0,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,2.0,2.0,1.0,NaN,NaN,NaN,6,2,4,243
4,10002201,1,0,1.79769313486232e+308,0,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,NaN,NaN,NaN,NaN,1.0,1.0,4,2,2,262

In [5]:
#Conjunto de datos de la Tabla Persona del 2014
persona_2014 = '../../Datasets/ENH/enh_2014/sociodemografica_enh_2014_csv.csv'

df_persona_2014 = pd.read_csv(persona_2014, low_memory=False, index_col=0, encoding='latin1')

df_persona_2014.reset_index(inplace=True)

df_persona_2014.head()

,folioviv,foliohog,id_pobla,edad,nacio_dia,nacio_mes,nacio_anio,sexo,parentesco,asiste_esc,...,med_nerv,inte_nerv,frec_depre,med_depre,inte_depre,frec_dolor,inte_dolor,frec_cansa,tiem_cansa,inte_cansa
0,10001801,1,1,58,21,11,1955,1,1,2.0,...,2.0,1.0,5.0,2.0,NaN,1.0,NaN,1.0,NaN,NaN
1,10001801,1,2,57,4,9,1956,2,2,2.0,...,2.0,1.0,4.0,1.0,1.0,4.0,2.0,4.0,3.0,2.0
2,10001801,1,3,37,22,9,1976,1,3,2.0,...,2.0,NaN,5.0,2.0,NaN,1.0,NaN,1.0,NaN,NaN
3,10001801,1,4,35,27,7,1979,1,3,2.0,...,2.0,NaN,5.0,2.0,NaN,1.0,NaN,1.0,NaN,NaN
4,10001803,1,1,66,5,10,1947,1,1,2.0,...,2.0,2.0,1.0,2.0,1.0,1.0,NaN,1.0,NaN,NaN

### UbicaciÃ³n geogrÃ¡fica 
`ubica_geo` 

UbicaciÃ³n geogrÃ¡fica de la vivienda encuestada. Los dos primeros dÃ­gitos representan la clave de la entidad, los siguientes tres la clave del municipio y los Ãºltimos cuatro la clave de la localidad. Ã‰stas corresponden al CatÃ¡logo de claves de entidades federativas, municipios y localidades, que estÃ¡ disponible en el sitio delINEGI.

entidad (2) + municipio (3) + localidad (4)

Comparando con el CEFML (CatÃ¡logo de entidades federativas, municipios y localidades)

+ entidad == `CVE_ENT` 
+ municipio == `CVE_MUN`
+ localidad == `CVE_LOC`

`CVE_ENT` (2) + `CVE_MUN` (3) + `CVE_LOC` (4)

In [6]:
df_vivienda_2014.groupby(df_vivienda_2014.ubica_geo).size().head(10)

ubica_geo
10010001    832
10010144     13
10010367     19
10010988      4
10010992     15
10011025      4
10012381      4
10020014      5
10020047     14
10030001     20
dtype: int64

In [7]:
df_vivienda_2014.ubica_geo.count()

43786

Ejemplo `df_vivienda_2014.ubica_geo.max()`:

320570001 

32 057 0001

+ `CVE_ENT` = 32 -> Zacatecas
+ `CVE_MUN` = 057 -> Trancoso
+ `CVE_LOC` = 0001 -> Trancoso

In [8]:
df_vivienda_2014.ubica_geo.max()

320570001

In [9]:
print('ubica_geo: ', df_vivienda_2014.ubica_geo[0])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2014.ubica_geo[0])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2014.ubica_geo[0])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2014.ubica_geo[0])[:-7])

ubica_geo:  10010001
CVE_LOC:  0001
CVE_MUN:  001
CVE_ENT:  1

In [10]:
print('ubica_geo: ', df_vivienda_2014.ubica_geo.max())

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2014.ubica_geo.max())[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2014.ubica_geo.max())[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2014.ubica_geo.max())[:-7])

ubica_geo:  320570001
CVE_LOC:  0001
CVE_MUN:  057
CVE_ENT:  32

In [12]:
print('ubica_geo: ', df_vivienda_2014.ubica_geo[38000])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2014.ubica_geo[38000])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2014.ubica_geo[38000])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2014.ubica_geo[38000])[:-7])

ubica_geo:  280070001
CVE_LOC:  0001
CVE_MUN:  007
CVE_ENT:  28

#### General

In [13]:
#loc gets rows (or columns) with particular labels from the index.
#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)

df_vivienda_2014.ubica_geo.iloc[0:5]

0    10010001
1    10010001
2    10010001
3    10010001
4    10010001
Name: ubica_geo, dtype: int64

In [14]:
i = 0
# for each row split in `CVE_ENT` (2) + `CVE_MUN` (3) + `CVE_LOC` (4)
#for row in df_vivienda_2014.ubica_geo.iloc[50000:50010]:
for row in df_vivienda_2014.ubica_geo:
    df_vivienda_2014['CVE_LOC'] = str(row)[-4:]
    df_vivienda_2014['CVE_MUN'] = str(row)[-7:-4]
    df_vivienda_2014['CVE_ENT'] = str(row)[:-7]
    
df_vivienda_2014.head()

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,cocina,cocina_dor,cuart_dorm,num_cuarto,...,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor_viv,CVE_LOC,CVE_MUN,CVE_ENT
0,10001801,1,8,9,3,30,1,2.0,3,6,...,10010001,029-0,1,3,9,710,243,0001,037,32
1,10001803,1,8,9,3,26,1,2.0,3,10,...,10010001,029-0,1,3,9,710,243,0001,037,32
2,10001804,1,8,9,3,23,1,2.0,2,5,...,10010001,029-0,1,3,9,710,243,0001,037,32
3,10001805,1,8,9,3,10,1,2.0,4,7,...,10010001,029-0,1,3,9,710,243,0001,037,32
4,10002201,1,8,9,3,1.79769313486232e+308,1,2.0,1,4,...,10010001,030-3,1,3,2,1450,262,0001,037,32

In [15]:
#exportar csv

path = '../../Datasets/ENH/dataframes/vivienda_2014.csv'

df_vivienda_2014.to_csv(path_or_buf=path, index=True, encoding='utf-8')