In [13]:
import pandas as pd
import numpy as np

In [14]:
#Conjunto de datos de la Tabla Vivienda de 2015
vivienda_2015 = '../../Datasets/ENH/enh_2015/vivienda.csv'

df_vivienda_2015 = pd.read_csv(vivienda_2015, low_memory=False, index_col=0, encoding='latin1')

df_vivienda_2015.reset_index(inplace=True)

df_vivienda_2015.head()

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,cocina,cocina_dor,cuart_dorm,num_cuarto,...,dispos_ne,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor_viv
0,10000601,1,8,9,3,,1,2,2,4,...,,2,1,10010001,028-6,1,3,5,10,163
1,10000602,1,8,9,3,25,1,2,1,8,...,,2,1,10010001,028-6,1,3,5,10,163
2,10000603,1,8,9,3,,1,2,4,9,...,,8,1,10010001,028-6,1,3,5,10,163
3,10000604,1,8,9,3,,1,2,2,6,...,,4,1,10010001,028-6,1,3,5,10,163
4,10000605,1,8,9,3,40,1,2,2,3,...,,3,1,10010001,028-6,1,3,5,10,163

In [15]:
#Conjunto de datos de la Tabla Hogar de 2015
hogar_2015 = '../../Datasets/ENH/enh_2015/hogar.csv'

df_hogar_2015 = pd.read_csv(hogar_2015, low_memory=False, index_col=0, encoding='latin1')

df_hogar_2015.reset_index(inplace=True)

df_hogar_2015.head()

,folioviv,foliohog,huespedes,huesp_come,num_trab_d,edad_trab1,edad_trab2,edad_trab3,edad_trab4,edad_trab5,...,conex_int4,conex_int5,conex_int6,pago_inter,no_internt,lugar_inte,tot_integ,tot_hom,tot_muj,factor_hog
0,10000601,1,0,,0,,,,,,...,2,,2,2,,,2,2,0,163
1,10000602,1,0,,0,,,,,,...,2,,2,1,,,2,1,1,163
2,10000603,1,0,,0,,,,,,...,2,,2,2,,,8,4,4,163
3,10000604,1,0,,0,,,,,,...,2,,2,2,,,4,1,3,163
4,10000605,1,0,,0,,,,,,...,,,,,1,1,3,3,0,163

In [16]:
#Conjunto de datos de la Tabla Persona del 2015
persona_2015 = '../../Datasets/ENH/enh_2015/persona.csv'

df_persona_2015 = pd.read_csv(persona_2015, low_memory=False, index_col=0, encoding='latin1')

df_persona_2015.reset_index(inplace=True)

df_persona_2015.head()

,folioviv,foliohog,id_pobla,edad,nacio_dia,nacio_mes,sexo,parentesco,asiste_esc,tipo_esc,...,med_nerv,inte_nerv,frec_depre,med_depre,inte_depre,frec_dolor,inte_dolor,frec_cansa,tiem_cansa,inte_cansa
0,10000601,1,1,55,3,8,1,1,2,,...,2,,5,2,,1,,1,,
1,10000601,1,2,61,3,1,1,9,2,,...,2,,5,2,,1,,1,,
2,10000602,1,1,61,19,2,1,1,2,,...,2,,5,2,,1,,1,,
3,10000602,1,2,58,23,11,2,2,2,,...,2,,5,2,,1,,1,,
4,10000603,1,1,63,12,10,1,1,2,,...,2,,5,2,,1,,1,,

### UbicaciÃ³n geogrÃ¡fica 
`ubica_geo` 

UbicaciÃ³n geogrÃ¡fica de la vivienda encuestada. Los dos primeros dÃ­gitos representan la clave de la entidad, los siguientes tres la clave del municipio y los Ãºltimos cuatro la clave de la localidad. Ã‰stas corresponden al CatÃ¡logo de claves de entidades federativas, municipios y localidades, que estÃ¡ disponible en el sitio delINEGI.

entidad (2) + municipio (3) + localidad (4)

Comparando con el CEFML (CatÃ¡logo de entidades federativas, municipios y localidades)

+ entidad == `CVE_ENT` 
+ municipio == `CVE_MUN`
+ localidad == `CVE_LOC`

`CVE_ENT` (2) + `CVE_MUN` (3) + `CVE_LOC` (4)

In [17]:
df_vivienda_2015.groupby(df_vivienda_2015.ubica_geo).size().head(10)

ubica_geo
10010001    1195
10010239      19
10010293      18
10010345      19
10010429      18
10010558       2
10010707      15
10011025       9
10011166       3
10030001      36
dtype: int64

In [18]:
df_vivienda_2015.ubica_geo.count()

58615

Ejemplo `df_vivienda_2015.ubica_geo.max()`:

320570001 

32 057 0001

+ `CVE_ENT` = 32 -> Zacatecas
+ `CVE_MUN` = 057 -> Trancoso
+ `CVE_LOC` = 0001 -> Trancoso

In [19]:
df_vivienda_2015.ubica_geo.max()

320570001

In [20]:
print('ubica_geo: ', df_vivienda_2015.ubica_geo[0])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2015.ubica_geo[0])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2015.ubica_geo[0])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2015.ubica_geo[0])[:-7])

ubica_geo:  10010001
CVE_LOC:  0001
CVE_MUN:  001
CVE_ENT:  1

In [21]:
print('ubica_geo: ', df_vivienda_2015.ubica_geo.max())

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2015.ubica_geo.max())[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2015.ubica_geo.max())[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2015.ubica_geo.max())[:-7])

ubica_geo:  320570001
CVE_LOC:  0001
CVE_MUN:  057
CVE_ENT:  32

In [22]:
print('ubica_geo: ', df_vivienda_2015.ubica_geo[58000])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda_2015.ubica_geo[58000])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda_2015.ubica_geo[58000])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda_2015.ubica_geo[58000])[:-7])

ubica_geo:  320560028
CVE_LOC:  0028
CVE_MUN:  056
CVE_ENT:  32

#### General

In [23]:
#loc gets rows (or columns) with particular labels from the index.
#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)

df_vivienda_2015.ubica_geo.iloc[0:5]

0    10010001
1    10010001
2    10010001
3    10010001
4    10010001
Name: ubica_geo, dtype: int64

In [ ]:
i = 0
# for each row split in `CVE_ENT` (2) + `CVE_MUN` (3) + `CVE_LOC` (4)
#for row in df_vivienda_2015.ubica_geo.iloc[50000:50010]:
for row in df_vivienda_2015.ubica_geo:
    df_vivienda_2015['CVE_LOC'] = str(row)[-4:]
    df_vivienda_2015['CVE_MUN'] = str(row)[-7:-4]
    df_vivienda_2015['CVE_ENT'] = str(row)[:-7]
    
df_vivienda_2015.head()

In [96]:
#exportar csv

path = '../../Datasets/ENH/dataframes/vivienda_2016.csv'

df_vivienda_2016.to_csv(path_or_buf=path, index=True, encoding='utf-8')